<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>

	<appSettings>
		<add key="OverTempThreshold" value ="70"/>
		<add key="VoltageImbalancePct" value="10"/>
		<add key="PowerFlatlineWindow" value="5"/>
		<add key="PowerSpikeThreshold" value="500"/>
		<add key="DcSagThreshold" value="50"/>
		<add key="EfficiencyThreshold" value="0.5"/>
	</appSettings>

	<system.serviceModel>
		<services>
			<service name="Service.SolarService">
				<endpoint
					address="SolarService"
					binding="netTcpBinding"
					contract="Common.ISolarService" />

				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:4000"/>
					</baseAddresses>
				</host>
			</service>
		</services>

		<bindings>
			<netTcpBinding>
				<binding name="CustomTcpBinding"
						 maxReceivedMessageSize="65536"
						 receiveTimeout="00:05:00"
						 sendTimeout="00:05:00"
						 openTimeout="00:01:00"
						 closeTimeout="00:01:00" />
			</netTcpBinding>
		</bindings>
	</system.serviceModel>
</configuration>